---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Sobre | Willian Rodrigues" description="Venha me conher">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre"
				tagline="Obrigado por passar por aqui. Leia abaixo para saber mais sobre mim e minha formação."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Projeto</h2>
				<div class="content">
					<p>
						Olá! Meu nome é Willian Rodrigues e sou estudante de Análise e Desenvolvimento de Sistemas, atualmente no 5º semestre.
						Tenho um foco especial em programação back-end, com ênfase na linguagem Java e Python, onde estou buscando aprofundar minhas 
						habilidades e conhecimentos.
					</p>
					<p>
						Além da minha formação acadêmica, já possuo experiência no mercado de trabalho, o que me proporcionou uma compreensão
						prática das demandas e desafios reais enfrentados por empresas na área de tecnologia. 
						Essa vivência tem sido fundamental para aplicar, na prática, os conhecimentos adquiridos ao longo dos meus estudos e projetos.
					</p>
					<p>
						Estou me preparando para realizar uma pós-graduação em Engenharia de Software, com o objetivo de expandir ainda
						mais minha expertise em desenvolvimento de sistemas. No momento, também estou aprimorando minhas habilidades em inglês,
						me preparando para enfrentar desafios globais e contribuir em um ambiente tecnológico cada vez mais internacional.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Educação</h2>
				<div class="content">
					<ul>
						<li>Graduação Em Análise De Desevolvimento De Sistemas(Cursando)</li>
						<li>Pós-Graduação em Engenharia De Software (A cursar)</li>
						<li>Curso de Idiomas Inglês (Cursando)</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<span style="color:whiteSmoke ;">Linguagens de programação - Back End</span>
						<li>Java</li>
						<li>Python</li>
						<br>

						<span style="color:whiteSmoke ;">Front End</span>
						<li>HTML</li>
							<br>

						<span style="color:whitesmoke;">FrameWorks</span>
						<li>Astro JS</li>
						<li>Flask </li>
						<li>Java Spring Boot</li>
						<br>

						<span style="color: whitesmoke;">Banco de Dados</span>
						<li>SQLite</li>
						<li>My Sql</li>
						<br>

						<spaan style="color: whitesmoke;"> Sistemas Operacionais </span>
						<li>Windows</li>
						<li>Linux</li>
						<li>Android</li>
						<li>IOS</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
