---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Desevolvedor Back End</h2>
		<p>O back-end em Java lida com a lógica do servidor, gestão de dados e comunicação com o banco de dados. 
			Usando frameworks como Spring, ele cria sistemas robustos e escaláveis, 
			essenciais para aplicações web e APIs.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Crescimento Pessoal</h2>
		<p>Com o passar dos anos, eu fui apredendo muitas tecnologias, no qual eu nunca tinha
			ouvido falar sobre, um pequeno resumo sobre mim, e que: Sou uma pessoa facil de ser lidar, gosto de aprender novas coisas
			tenho meus objetivos muito claro, estou disposto a aprender tudo que for necessário para minha carreira como Desevolvedor Back End
			Java
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Pensado em estratégia</h2>
		<p></p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
